h1.ma-logo {
	color: #FFD;
}

span.ma-logo {
	color: #E33;
}

#main {
background: black center center no-repeat url('/images/Fotolia_35582576_S.jpg');
background-size: cover;
min-width: 0px;
}

body {
	background-color: black;
}

.ma-heading {
	color: #EEC;
	font-size: 30px;
	padding-top: 20px;
	background-color: rgba(0,0,0,0.5);
}

.ma-subheading {
	color: #CCA;
	background-color: rgba(0,0,0,0.5);
}

.ma-advantage {
	color: #CCA;
}

.ma-faq {
	margin-top: 3%;
	background-color: #333;
	margin-left: auto;
	margin-right: auto;
}

.accordion-inner {
	color: #CCA;
}

h3 {
	color: #CCA;
}